body {
  background-color: green;
  text-align: center;
}

#cookie {
  float: left;
  height: 400px;
  width: 400px;
  background-color: brown;
  border-radius: 200px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 200px;
  border-width: 0;
  margin-left: 50px;
  background-image: url(Images/cookie.png);
  background-position: center;
}

#count {
  font-size: 50px;
  color: black;
  background-color: white;
  margin-bottom: 0px;
}

#timeIncrement {
  margin-top: 0px;
  font-size: 50px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#labor {
  font-size: 50px;
  float: right;
  margin-right: 50px;
}

#laborCount {
  font-size: 50px;
  float: right;
  margin-right: 50px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#robot {
  font-size: 50px;
  float: right;
  margin-right: 50px;
}

#robotCount {
  font-size: 50px;
  float: right;
  margin-right: 50px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
